// ===== header =====
.header {
  background-color: $color-white-2;
  color: $color-gray-header;
  position: relative;

  // header top nav
  &__top__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;

    position: absolute;
    top: 1rem;
    right: 2rem;
  }

  // header privacy simplified item
  &__privacy {
    &--simplified {
      cursor: pointer;
      z-index: 10;
      transition: all 0.3s;

      &:hover {
        color: $color-black-2;
      }
    }

    &__popup--card {
      display: none;
      position: absolute;
      top: 4rem;
      right: 10rem;
      padding: 2.5rem;
      box-shadow: 0 2.5px 20px 0 rgba(0, 0, 0, 0.15);
      border-radius: 0.7rem;
      width: 45rem;
    }

    // functionality with js on click
    &__popup--card.show-header-card {
      display: block;
    }

    &__popup--item {
      display: flex;
      padding: 1rem;
      z-index: 1;
      &:hover {
        background-color: $color-white-2;
      }
    }

    &__popup--link--img {
      display: flex;
      flex-direction: column;
      margin-right: 1rem;
    }

    &__popup--img {
      width: 5rem;
    }
  }

  // header popup social
  &__popup--social {
    cursor: pointer;
    

    &--card--wrapper {
      display: none;
    }

    // functionality with js on click
    &--card--wrapper.show-social-card {
      display: block;
    }

    &--card {
      position: absolute;
      top: 4rem;
      right: 3rem;
      background-color: $color-white;
      padding: 1.7rem;
      box-shadow: $box-shadow;
      border-radius: 0.5rem;
      display: flex;
      flex-direction: column;
    }

    &--item {
      display: flex;
      align-items: center;

      a {
        font-size: 1.4rem;
        font-weight: 100;
      }

      .social-link {
        &:hover {
          text-decoration: underline;
        }
      }

      .social-logo {
        margin-right: 1rem;
        margin-top: 0.5rem;
      }
    }
  }

  &__horn__wrapper {
    display: flex;
    align-items: center;
    margin: 0 2rem;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    img {
      margin-right: 0.5rem;
      width: 100%;
      object-fit: cover;
      transition: all 0.4s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  // header hamburger menu
  &__popup--menu {
    cursor: pointer;
    margin-left: 2rem;
    i {
      font-size: 1.7rem;
    }
  }

  .fa-chevron-down {
    font-size: 1.2rem;
  }
}
// ===== end of header =====
