.display-block {
  display: block;
}

.display-none {
  display: none;
}

.visibility-v {
  visibility: visible;
}

.visibility-h {
  visibility: hidden;
}

.txt-underline {
  text-decoration: underline;
}

.blue {
  background-color: blue;
  color: #fff !important;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;

  &:hover {
    background-color: royalblue;
    color: #fff;
  }
}
