.section {
  // ======= SECTION ABOUT =======
  &__about {
    background: $color-green;
    position: relative;
  }
  // ======= END OF SECTION ABOUT =======

  // ======= SECTION ADS =======
  &__ads {
    background: $color-orange;
    position: relative;
  }
  // ======= END OF SECTION ADS =======
  
  // ======= SECTION BATHTUB =======
  &__bathtub {
    background-color: $color-blue-light-1;
    position: relative;
  }
  // ======= END OF SECTION BATHTUB =======

  // ======= SECTION IMG STYLES =======
  &__img__wrapper {
    width: 80rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &__img {
    width: 100%;
  }
  // ======= END OF SECTION IMG STYLES =======
}
