// ======= SECTION ABOUT =======
.section {
  &__about {
    background: $color-green;
    padding-top: 8rem;
    position: relative;

    &--text {
      text-align: center;
      width: 40%;
      margin: 0 auto;
    }

    &--heading {
      color: $color-white;
      font-size: 3.95rem;
      font-weight: 800;
      line-height: 1.2;
      margin-bottom: 2rem;
    }

    &--subheading {
      color: $color-white;
      font-size: 2rem;
      width: 65%;
      margin: 0 auto;
    }

    &--img__wrapper {
      width: 80rem;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    &--img {
      width: 100%;
    }
  }
}
// ======= END OF SECTION ABOUT =======
